ul#nav li {
	border-bottom: 1px solid grey;
	list-style: none;
	display: inline;
	padding-right: 8px;
	margin: 0px 5px;
	text-align: center;
}

ul#nav li a {
	text-decoration: none;
	color: gray;
	margin: 0 auto;
}
